<%-include("../../views/partials/adminPartial/header")%>

  <!-- Main content -->
  <div class="main-content">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>Users</h2>
      <div class="d-flex align-items-center gap-3">
        <div class="admin-name">Admin</div>
      </div>
    </div>
    <div class="mb-4">
      <input type="text" id="productSearch" class="form-control search-bar" placeholder="Search for Categories">
    </div>
    <div class="card">
      <table class="table">
        <thead>
          <tr>
            <th style="color: #000;">User Image</th>
            <th style="color: #000;">User Name</th>
            <th style="color: #000;">Email</th>
            <th style="color: #000;">Action</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user=> { %>
            <tr>
              <td><img src="<%= user.image %>" alt="User Image" style="height: 50px; border-radius: 5px; color:#000;">
              </td>
              <td style="color: #000;">
                <%= user.name %>
              </td>
              <td style="color: #000;">
                <%= user.email %>
              </td>
              <td>
                <%if(user.isBlocked){%>
                  <button class="btn btn-unblock btn-sm" style="background-color: green; color: #fff;"
                    onClick="UnblockUser('<%=user._id%>','<%=user.name%>')">Unblock</button>
                  <%}else{%>
                    <button class="btn btn-block btn-sm" style="background-color: rgb(255, 0, 0); color: #fff;"
                      onClick="BlockUser('<%=user._id%>','<%=user.name%>')">Block</button>
                    <%}%>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>

      <div class="d-flex justify-content-between align-items-center mt-3">
        <div style="color: #fff;">Showing 1 of <%= totalPages %>
        </div>
        <nav>
          <ul class="pagination mb-0">
            <li class="page-item <%= currentPage == 1 ? 'disabled' : '' %>">
              <a class="page-link" href="?page=<%= currentPage - 1 %>&search=<%= search %>">‹</a>
            </li>

            <% for (let i=1; i <=totalPages; i++) { %>
              <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                <a class="page-link" href="?page=<%= i %>&search=<%= search %>">
                  <%= i %>
                </a>
              </li>
              <% } %>

                <li class="page-item <%= currentPage == totalPages ? 'disabled' : '' %>">
                  <a class="page-link" href="?page=<%= currentPage + 1 %>&search=<%= search %>">›</a>
                </li>
          </ul>
        </nav>

      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
     document.getElementById('productSearch').addEventListener('keyup', function () {


const searchValue = this.value.toLowerCase();
let rows = document.querySelectorAll('tbody tr');

rows.forEach(row => {
    let productName = row.children[2].textContent.toLowerCase();
    if (productName.includes(searchValue)) {
        row.style.display = '';
    } else {
        row.style.display = 'none';
    }
});
});
    function BlockUser(id, name) {
      Swal.fire({
        title: 'blockUser',
        text: "do you want block this user?",
        icon: "warning",
        showConfirmButton: true,
        showCancelButton: true
      }).then((result) => {
        if (result.isConfirmed) {
          axios.patch("/admin/blockUser", { id })
            .then(function (responce) {
              if (responce.data.success) {
                Swal.fire({
                  title: `${name} Blocked`,
                  icon: 'success',
                  showConfirmButton: false,
                  timer: 1500
                }).then(() => {
                  window.location.reload()
                })
              }
            })
        }
      })
    }

    function UnblockUser(id, name) {
      Swal.fire({
        tittle: "Unblock the User",
        text: "do you want unblock the user",
        icon: "warning",
        showConfirmButton: true,
        showCancelButton: true
      }).then((result) => {
        if (result.isConfirmed) {
          axios.patch("/admin/UnblockUser", { id })
            .then(function (responce) {
              if (responce.data.success) {
                Swal.fire({
                  title: `${name} Unblocked`,
                  icon: 'success',
                  showConfirmButton: false,
                  timer: 1500
                }).then(() => {
                  window.location.reload()
                })
              }
            })
        }
      })
    }
  </script>

  </html>